
body {
    color:lab(82.36% 36.84 -21.55);
    background-color: rgb(255, 255, 255);
    font-family:"Faculty Glyphie"; serif;
} 

.chamada{
    background:rgb(249, 193, 238);
    padding-bottom: 80px;
   padding-top : 80px;
    display: flex;
    justify-content: center;
}