
body {
    color:lab(83.92% -10.1 -24.66);
    background-color: rgb(0, 149, 255);
    font-family:"Faculty Glyphie"; serif;
} 

.chamada{
    background:rgb(249, 193, 238);
    padding-bottom: 80px;
   padding-top : 80px;
    display: flex;
    justify-content: center;
}