
body {
    color:lab(85.54% 29.85 -17.81);
    background-color: rgb(255, 255, 255);
    font-family:"Faculty Glyphie"; serif;
} 

.chamada{
    background:rgb(255, 255, 255);
    padding-bottom: 80px;
   padding-top : 80px;
    display: flex;
    justify-content: center;
}