
body {
    color:lab(91.28% -55.22 50.64);
    background-color: rgb(50, 94, 58);
    font-family:"Faculty Glyphie"; serif;
} 

.chamada{
    background:rgb(255, 255, 255);
    padding-bottom: 80px;
   padding-top : 80px;
    display: flex;
    justify-content: center;
}