
body {
    color:lab(91.28% -55.22 50.64);
    background-color: rgb(50, 94, 58);
    font-family:"Faculty Glyphie"; serif;
} 

.chamada{
    background:rgb(0, 0, 0);
    padding-bottom: 80px;
   padding-top : 80px;
    display: flex;
    justify-content: center;
    
.categoria {
padding-left: 20px;
padding-right: 20px;
}

div {
margin-right: 20px;
}

.chamada-texto {
margin-right: 5%;
margin-left: 5%;
}

img {
height: 200px;
}

.categoria-videos {
display: flex;
overflow-x: auto;
gap: 10px;
}

h1 {
font-size: 30px;
}

p {
font-size: 20px;
}