
body {
    color:lab(89.22% -7.81 -16.47);
    background-color: blue;
    font-family:"Faculty Glyphie"; serif;
} 

.chamada{
    background:rgb(249, 193, 238);
    padding-bottom: 80px;
   padding-top : 80px;
    display: flex;
    justify-content: center;
}